<main>
    <section>
        <h2>Select your destination</h2>
        <div class="description">
            Input a station
        </div>
        <form [formGroup]="destinationLocation" class="station-input" (submit)="selectDestination()">
            <mat-form-field class="full-width">
                <mat-label>Station</mat-label>
                <input matInput id="destination" type="text" formControlName="destination"/>
            </mat-form-field>
            <button mat-flat-button type="submit" class="station-button">Select Destination</button>
        </form>
        <div class="map">
            
        </div>
    </section>
</main>