h2 {
    text-align: center;
}
.description {
    text-align: center;
    font-size: large;
}
.map {
    margin-left: 5%;
    margin-right: 5%;
}
.station-input {
    text-align: center;
}
.station-button {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
}
.gps-button {
    text-align: center;
}
.full-width {
    width: 90%; /* oder eine feste Breite z.B. 300px */   
}
