@use 'sass:map';
@use '@angular/material' as mat;

// **Be sure that you only ever include this mixin once!**
@include mat.elevation-classes();
@include mat.app-background();

// Define a dark theme
$dark-theme: mat.define-theme((color: (theme-type: dark,
                primary: mat.$blue-palette,
            ),
        ));


// Define a light theme
$light-theme: mat.define-theme((color: (theme-type: light,
                primary: mat.$blue-palette,
            ),
        ));

html {
    // Apply the light theme by default
    @include mat.elevation-classes();
    @include mat.app-background();
    @include mat.ripple-theme($light-theme);
    @include mat.button-theme($light-theme);
    @include mat.button-toggle-theme($light-theme);
    @include mat.form-field-theme($light-theme);
    @include mat.icon-theme($light-theme);
    @include mat.input-theme($light-theme);
    @include mat.sidenav-theme($light-theme);
    @include mat.progress-bar-theme($light-theme);
    @include mat.table-theme($light-theme);
    @include mat.sort-theme($light-theme);
    @include mat.chips-theme($light-theme);
    @include mat.checkbox-theme($light-theme);
    @include mat.select-theme($light-theme);
    @include mat.menu-theme($light-theme);
    @include mat.divider-theme($light-theme);
    @include mat.expansion-theme($light-theme);
    @include mat.progress-spinner-theme($light-theme);

    // Apply the dark theme only when the user prefers dark themes.
    @media (prefers-color-scheme: dark) {
        // Use the `-color` mixins to only apply color styles without reapplying the same
        // typography and density styles.
        @include mat.elevation-classes();
        @include mat.app-background();
        @include mat.ripple-color($dark-theme);
        @include mat.button-color($dark-theme);
        @include mat.button-toggle-color($dark-theme);
        @include mat.form-field-color($dark-theme);
        @include mat.icon-color($dark-theme);
        @include mat.input-color($dark-theme);
        @include mat.sidenav-color($dark-theme);
        @include mat.progress-bar-color($dark-theme);
        @include mat.table-color($dark-theme);
        @include mat.sort-color($dark-theme);
        @include mat.chips-color($dark-theme);
        @include mat.checkbox-color($dark-theme);
        @include mat.select-color($dark-theme);
        @include mat.menu-color($dark-theme);
        @include mat.divider-color($dark-theme);
        @include mat.expansion-color($dark-theme);
        @include mat.progress-spinner-color($dark-theme);
    }
}
