h2 {
    text-align: center;
    margin-top: 2%;
}
.description {
    text-align: center;
    font-size: large;
    margin-bottom: 2%;
    margin-top: -4%;
}

.station-input {
    text-align: center;
    margin-bottom: -6%;
}
.station-button {
    text-align: center;
    margin-top: -4%;
    margin-bottom: 2%;
}
.gps-button {
    text-align: center;
    margin-top: 1%;
}

@media (prefers-color-scheme: dark) {
    mat-option {
      color: white;
    }
  }





  